# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#folders
nube
nico
img

#Misc
*.zip
5_ahorcado/main
gimenez_andreis_francisco_tp1/first-try
5_ahorcado/test
5_ahorcado/positivo
gimenez_andreis_francisco_tp1/main
